form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  width: 80%;
  margin: auto;
}

div {
  max-width: 100%;
  display: flex;
  align-items: center;
}

input, div[role="textbox"] {
  font-size: 1.5rem; 
  font-family: "Montserrat", sans-serif;
  height: 3rem;
  overflow-y: hidden;
  border: 1px solid #363d3d;
  text-align: center;
  flex-grow: 1;
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
}

div[role="textbox"] {
  display: flex;
  justify-content: center;
}

#inner {
  min-width: 1px;
  min-height: 1px;
  display: inline-block;
  &:focus  {
    outline: none;
  }
}

label {
  font-family: "Staatliches";
  width: 8rem;
  display: inline-block;
  margin-right: 0.5rem;
}

input, div[role="textbox"], button {
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  margin: 0.75rem 0; 
}

input::-webkit-inner-spin-button {
  display: none;
}

input::-webkit-calendar-picker-indicator {
  padding: none;
}

.untouched {
  color: gray;
}

.error {
  font-size: 0.75rem;
  color: #802722;
}

button {
  background-color: #363d3d;
  color: white;
  font-family: 'Staatliches';
  font-size: 1.5rem;
  border: 0;
  cursor: pointer;
  &:disabled {
    background-color: #7b7b7b;
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 90%;
  }

  form, button, input, div[role="textbox"] {
    font-size: 1.25rem;
  }

  label {
    width: 4rem;
  }

  input[type="date"] {
    padding-right: 0;
  }
}

.full-centered {
  min-height: 17rem;
  justify-content: center;
  flex-direction: column;
}

.loading {
  display: inline-block;
  width: 5rem;
  height: 5rem;
}

.loading:after {
  content: " ";
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #363d3d;
  border-color: #363d3d transparent #363d3d transparent;
  animation: loading-spin 1.2s linear infinite;
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}  

@media only screen and (max-width: 400px) {
  input, div[role="textbox"] {
    font-size: 0.9rem;
  }
}
