<p>MyCountdown allows you to create countdowns based on a start and end date. When you create a countdown,
  you'll get a unique link that you can share. Dates are based on your current timezone </p>

<p>This app was inspired by the <a target="_blank" href="http://www.militarysos.com/forum/during-deployment/395832-donut-misery.html">
  Donut of Misery</a> that many soldiers create to count the remainder of their deployments. It is a securtity violation to
  share any deployment or return dates, so this project is just for fun.</p>

<p>This project was created by Reagan Henke, and more information is available on <a target="_blank" href="https://github.com/reaganhenke/deployment-countdown">Github</a></p>