<div class="wrapper" >
  <main>

    <div *ngIf="loading$ | async">
      <section class="full-centered">
        <div class="loading"></div>
      </section>
    </div>
    
    <div *ngIf="error$ | async">
      <h1>Uh Oh</h1>
      <section class="full-centered">
        <div>We can't find that countdown. Try again?</div>
      </section>
    </div>

    <div *ngIf="countdown$ | async">
      <header>
        <h1>{{(countdown$ | async).name.toUpperCase()}}'S COUNTDOWN</h1>
        <p>{{startDate | date:'MMM'}}, {{startDate.getDate().toString() | dateSuffix}} - {{endDate | date:'MMM'}}, {{endDate.getDate().toString() | dateSuffix}}</p>
      </header>
      <section>
        <div class="content" *ngIf="countdown$ | async">
          <div class="times">
            <app-days title="Time Passed" [time]="served"></app-days>
            <app-days title="Time Left" [time]="remaining"></app-days>
          </div>
          <div class="pie-wrapper">
            <span>{{ (100 - percent) | number: '1.1-2'}}%<br>Left</span>
            <div class="pie-chart" id="pie">
              <svg viewBox="-100 -100 200 200">
                <path d=""/>
              </svg>
            </div>
            <span>{{ percent | number: '1.1-2' }}%<br>Done</span>
          </div>
          <!-- https://codepen.io/mcfarlan/pen/XRENOP -->
        </div>
      </section>
    </div>
    
  </main>
  <app-footer></app-footer>
</div>
