header {
  text-align: center;
}

h1 {
  font-family: 'Staatliches';
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

section {
  padding: 2rem;
}

.pie-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin-top: 1rem;
}

.content {
  display: flex;
  div {
    flex-grow: 1;
  }
}

.times {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 0;
}

.pie-chart {
  display: block;
  max-height: 20rem;
  max-width: 20rem;
  padding: 0;
  transform-origin: 50% 50%;
  -moz-transform-origin: 40px 40px;
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.pie-chart svg {
  border-radius: 50%;
  border: 1px solid #363d3d;
  background: #fff;
  width: 100%;
}

.pie-chart svg path {
  fill: #363d3d;
  background-size: 16%;
  transform: translate3d(0, 0, -1px);
  -moz-transform: translate3d(0, 0, -1px);
}

span {
  margin: 1rem;
}

@media only screen and (max-width: 750px) {
  .content {
    flex-direction: column-reverse;
  }

  .pie-wrapper {
    flex-direction: column-reverse;
    padding: 0;
    span:last-of-type {
      display: none;
    }
  }

  .times {
    max-width: 11rem;
    margin: auto;
  }
}
