section {
  background-color: white;
  padding: 1rem;
  border-top: 2px solid #363d3d;
}

footer {
  background-color: #363d3d;
  padding: 0.6rem;
  display: flex;
  justify-content: flex-end;
  a {
    display: inline-flex;
    img {
      height: 2.25rem;
    }
  }
}


nav a {
  display: inline-block;
  background-color: #7a7c7d;
  text-decoration: none;
  color: white;
  padding: 0.25rem 1.25rem;
  margin-right: 0.5rem;
  border-radius: 0.4rem 0.4rem 0 0;
  font-size: 1.25rem;
  &.active {
    background-color: #363d3d;
  }
}

